.orange{
    --color-1: #e76f51;
    --color-2: #f4a261;
    --color-3: #e9c46a;
    --color-4: #2a9d8f;
    --color-5: #264653;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.brown{
    --color-1: #BC6C25;
    --color-2: #DDA15E;
    --color-3: #FEFAE0;
    --color-4: #283618;
    --color-5: #606C38;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.light{
    --color-1: #E29578;
    --color-2: #FFDDD2;
    --color-3: #EDF6F9;
    --color-4: #83C5BE;
    --color-5: #006D77;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
   
}

.white{
    --color-1: #FFFFFF;
    --color-2: #E5E5E5;
    --color-3: #FCA311;
    --color-4: #14213D;
    --color-5: #000000;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
   
}

.orangeLight{
    --color-1: #FB8500;
    --color-3: #FFB703;
    --color-2: #023047;
    --color-4: #219EBC;
    --color-5: #8ECAE6;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.biege{
    --color-1: #FEC89A;
    --color-3: #F9DCC4;
    --color-2: #F8EDEB;
    --color-4: #FCD5CE;
    --color-5: #FFB5A7;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.yellow{
    --color-1: #FFD500;
    --color-3: #FDC500;
    --color-2: #00509D;
    --color-4: #003F88;
    --color-5: #00296B;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.paleBlue{
    --color-1: #CAF0F8;
    --color-3: #90E0EF;
    --color-2: #00B4D8;
    --color-4: #0077B6;
    --color-5: #03045E;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.paleBiege{
    --color-1: #FFDAB9;
    --color-3: #FBC4AB;
    --color-2: #F8AD9D;
    --color-4: #F4978E;
    --color-5: #F08080;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.green{
    --color-1: #CAD2C5;
    --color-3: #84A98C;
    --color-2: #52796F;
    --color-4: #354F52;
    --color-5: #2F3E46;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.pale{
    --color-1: #F2E9E4;
    --color-3: #C9ADA7;
    --color-2: #9A8C98;
    --color-4: #4A4E69;
    --color-5: #22223B;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}


.blue{
    --color-3: #EEF4ED;
    --color-2: #8DA9C4;
    --color-1: #0B2545;
    --color-5: #13315C;
    --color-4: #134074;

    --color-6:#eee;
    --color-7:#333;
    --color-8:#818181;
}

.dropdown-menu{
    padding: 0px;
    margin: 0px;
    border-radius: 0 20px 0 20px;
    text-align: center;
  
}

.dropdown-menu:first-child{
 color:black;
 background: black;
}

.dropdown-item:first-of-type{
    border-radius: 0 20px 0 0;

}

.dropdown-item:last-of-type{
    border-radius: 0 0 0 20px;

}

.dropdown-item{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    transition: all .15s linear;
}

.dropdown-item.active{
    background-color:var(--color-1);
    color:var(--color-2);
  /*  border: 1px solid var(--color-2);*/
    text-shadow: 1.25px 1.25px #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: .5px;
}

.dropdown-item.active:hover{
    background-color:var(--color-3);
    /*color:var(--color-5);*/
   /* border: 1px solid var(--color-2);*/
   /* text-shadow: 1.25px 1.25px #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: .5px;*/
}



.dropdown-item:hover{
    /*background-image: radial-gradient(var(--color-2),var(--color-1));*/
    background-color:var(--color-2);
    /*border: 1px solid var(--color-1);*/
    text-shadow: 1.25px 1.25px #000;
    color:#eee;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
    
}

body{
     background: linear-gradient(var(--color-1),var(--color-2)); 
     background-repeat: no-repeat;
     overflow-x: hidden;
}


.navbar-dark {
    font-size: large;
    border-bottom: 1px solid white;
}


.navbar-dark .navbar-nav .nav-link{
    transition: all .15s linear;
   text-shadow: 0.5px 0.5px 2px black;
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width: 0.20px;
   color:var(--color-4);
}


.navbar-dark .navbar-nav .nav-link:hover{
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width: 0.20px;
    -webkit-text-stroke-width: 0.25px;
    color:var(--color-2);
}



.navbar-dark .navbar-nav .active > .nav-link:hover{

    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width: 0.20px;
    -webkit-text-stroke-width: 0.25px;
    color:var(--color-1);
}


.navbar-dark .navbar-nav .active > .nav-link{
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width: 0.20px;
    -webkit-text-stroke-width: 0.25px;
    color:var(--color-3);
    
}

.bars{
    color:var(--color-1);
    font-size:28px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-7);
    opacity: 1; /* Firefox */
  }
  
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-7);
  }
  
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-7);
  }


.list-group-item{
    background: var(--color-2);
    color: var(--color-5);
    
}



.list-group-item.active{
    background: var(--color-1);
    color: var(--color-4);
    border: none;
}

.list-group-item.active:hover{
    background: var(--color-2);
    color: var(--color-5);
    border: none;
}


.list-group{
    border-radius: 0 20px 0 20px;
}

.list-group-flush > .list-group-item {
   background-color: transparent;
   border-bottom: none;
   padding: 0px;
}

.footer{
    width: 100%;
    color: var(--color-6);
    background-color: var(--color-7);
}

.bar{
    background: var(--color-1);
    width: 50px;
    height: 5px;
    margin: 10px 0px 10px 0px;
}


a{
    margin-left: var(-) 10px;
    margin-bottom:5px;
    color: var(--color-8);
}

a:hover{
    color: var(--color-2);
    text-decoration: none;
}

#tv {
fill: var(--color-1);
}

#text {
fill: var(--color-2);
}

.btn-success{
    color: var(--color-3);
    background-color: var(--color-4);
    border-color: var(--color-5);
    text-shadow: 1px 1px #000;
    border-radius: 0 20px 0 0;
    transition: all .15s linear;
}

.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus{

    background-color: var(--color-5) !important;
    border-color: var(--color-5) !important;

}

.btn-secondary{
    color: var(--color-3);
    background-color: var(--color-2);
    border-color: var(--color-5);
    text-shadow: 1px 1px #000;
    border-radius: 0px;
    border-right: 0px;
    transition: all .15s linear;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus{
    background-color: var(--color-1) !important;
    border-color: var(--color-5) !important;
}
/*
input[type=password]{
    border-radius: 20px 20px 20px 20px;

}*/

.img-thumbnail{
    background: none repeat scroll 0 0 var(--color-4);
    border-radius: 0 20px 0 20px;
    border-color: var(--color-5);
    padding: 5px;

}


.form-control{
    border-color: var(--color-5) !important;
    color: var(--color-5) !important;
    border-radius: 0px 20px 20px 20px;

}

.cont {
    position: relative;
    transition: all .15s linear;
  }

.cont:hover{
    border-color: var(--color-3);
    z-index: 1500;
    transform: scale(1.05);
}


.text-block {
    text-shadow: 1px 1px var(--color-5);
    position: absolute;
    bottom: 1.5%;
    border: solid 1  var(--color-5);
    border-radius: 25px 0px 0px 0px; 
    left: 45%;
    background-color: var(--color-4);
    color: var(--color-2);
    padding-left: 20px;
    padding-right: 20px;
}

.modal{
    z-index: 9500;
    
}

.modal-content{
      background-color: var(--color-5);
      color: var(--color-2);
      border-radius: 0 20px 0 20px;
}
 
.modal-title{
    color: var(--color-2);
    text-shadow: 1px 1px var(--color-5);
}

#content{
    transition: all 0.25s linear;
    
}


.input-group-text{
    border-radius: 0 0 0 20px;

}

  @keyframes changeColors {
    from {background-color: var(--color-2);}
    to {background-color: var(--color-1);}
  }

  @keyframes logo {
    0%   {fill: var(--color-1);}
    25%  {fill: var(--color-2);}
    50%  {fill: var(--color-3);}
    75% {fill: var(--color-4);}
    100% {fill: var(--color-5);}
  }

  .animateText{
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .alert {position: absolute;  left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 250px; z-index: 100000;}
 

  .temp{
     width: 222px;
     height: 307px;
     border-radius: 0 20px 0 20px;
     background-repeat: no-repeat;
     border:none;
     animation-name: changeColors;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     padding:5px;
  }

  .tempTop{
    width: 100%;
    height: 315px;
    border-radius: 0 20px 0 20px;
    background-repeat: no-repeat;
    animation-name: changeColors;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding:5px;
    margin-bottom:2px;
 }

 .schedule{
    width: 100%;
    background-image: linear-gradient(45deg,var(--color-1),var(--color-2));
    border-radius: 0 20px 0 20px;
    padding:5px;
    margin-bottom:5px;
 }

 .schedule:hover{
    /*background: var(--color-3);*/
    /*background-image: radial-gradient(var(--color-1),var(--color-2));*/
    background-image:linear-gradient(45deg,var(--color-2),var(--color-1));

 }


  .input-group-text{
    border-color: var(--color-5) !important;
    background: var(--color-3) !important;
    color:var(--color-6)!important;
    text-shadow: 1px 1px #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.25px;
  }

  .badge-light{
    text-shadow: none;
    background:var(--color-1);
    color:var(--color-4);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
  }

  @media only screen and (max-width: 768px) {
    .temp{
        width: 98%;
        margin-left: 0px;
        margin-right: 0px; 
    }

    .cont{
        width: 98%;
    }

    .cont:hover{
        
        z-index: 1500;
        transform: scale(0.98);
    }
    .img-thumbnail{
        width: 100%;
        box-shadow: 0px 0px 10px black;
        transition: all .15s linear;
    }
    .img-thumbnail:hover{
        box-shadow: none;
    }

    .text-block {
        text-shadow: -1px 1px black;
        position: absolute;
        border: solid 1  var(--color-5);
        border-radius: 20px 20px 0px 0px; 
        left: 35%;
        background-image: linear-gradient(transparent,(--color-4));
        color: var(--color-1);
        padding-left: 20px;
        padding-right: 20px;
    }
    .no-mobile{
        display: none;
    }
    .rights{
        font-weight: 100;
    }
    #rights{
        margin-left: 10px;
    }
  
  }
  
